{% extends 'index/base.html' %}

{% block sport %}


    <div class="more-about-us">
        <div class="container pd">
            <div class="col-md-5 col-md-offset-7">
                <div class="content">
                    <h2>О НАС</h2>
                    <span>Простой текст</span>
                    <p>Давайте попробуем рассмотреть такой формат на примере подобранного запроса “заказать пиццу“.
                    <br><br>Этот формат текстов “О компании” очень похож на предыдущий вид. Единственное отличие: интернет-магазины, как правило, много о себе сказать не могут, поэтому можно смело ставить материал сразу на главную страницу сайта, совмещая информацию о компании и рекламу товара.</p>
                    <div class="simple-btn">
                        <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock sport %}