.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.nmr-5 {
  margin-right:-5px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.pt-5 {
  padding-top:5px;
}

.pt-10 {
  padding-top:10px;
}

.pt-15 {
  padding-top:15px;
}

.pt-30 {
  padding-top:30px;
}

.pb-5 {
  padding-bottom:5px;
}

.pb-10 {
  padding-bottom:10px;
}

.pb-15 {
  padding-bottom:15px;
}

.pb-30 {
  padding-bottom:30px;
}

